<!DOCTYPE html>
<html>
<head>
    <title>admin</title>
</head>
<body>
    <h2>Admin</h2>
    <form method="post">
            
    
       <input type="hidden" name="csrfmiddlewaretoken" value="bpYtAJZNDbaBTeJXZmqRhBCubpmN7tGJjBn472XIOXQWG7mz3CcHtmH1Kcnlzoqp">
        <ul class="errorlist"><li>This field is required.</li></ul>
  <p>
    <label for="id_BOOKname">Book Name:</label>
    <input type="text" name="BOOKname" maxlength="100" required id="id_BOOKname">
  </p>

  <ul class="errorlist"><li>This field is required.</li></ul>
  <p>
    <label for="id_BOOKauthor">Author Name:</label>
    <input type="text" name="BOOKauthor" maxlength="500" required id="id_BOOKauthor">

    
ml>  </p>
        <button type="submit">Send</button>
    </form>
</body>
</html>

